@page "/smoker/{Name}/details"
@attribute [Authorize]

@inject IHttpClientFactory HttpFactory
@inject NavigationManager Router
@inject ILogger<Edit> Logger

<SpinLoader IsLoading="@(Data == null)">
    <ContentTemplate>
        <div class="d-flex flex-row justify-content-between">
            <div class="p-2">
                <a href="/smoker">
                    Return to list
                </a>
            </div>
            <div class="p-2">
                <BSButton Color="Color.Primary" @onclick="@(() => Router.NavigateTo($"/smoker/{Name}/edit"))"><i class="far fa-edit fa-fw"></i>&nbsp; Edit</BSButton>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-around">
            <div class="p-2 col-md-6 col-sm-12">
                <h2 class="font-weight-light text-muted py-3">@Data.DisplayName - <BSBadge Color="Color.Success" IsPill="true">@Data.Protein.Humanize()</BSBadge></h2>
                <p class="text-justify">
                    @Data.Description
                </p>
            </div>
            <div class="p-2 col-md-6 col-sm-12">
                <h2 class="font-weight-light text-muted py-3">Steps</h2>
                <Timeline Items="Data.Steps"/>
            </div>
        </div>
    </ContentTemplate>
</SpinLoader>


@code {
    [Parameter]
    public string Name { get; set; }

    private Query Data { get; set; }

    public record Query
    {
        public string DisplayName { get; init; }
        public string Description { get; init; }
        public string Protein { get; init; }
        public List<QueryStep> Steps { get; init; }


        public record QueryStep
        {
            public int Step { get; init; }
            public string Description { get; init; }
            public double? GrillTemperature { get; init; }
            public TimeSpan? Duration { get; init; }
            public double? ProbeTemperature { get; init; }
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        var http = HttpFactory.CreateClient(HttpClients.SmokingClient);
        Data = await http.GetFromJsonAsync<Query>($"recipes/{Name}");
        if (Data == null)
        {
            Router.NavigateTo("/smoker");
        }
    }

}