@using WebBlazor.Client.Pages.Smoker

<BSRow>
    <!-- timeline item 1 left dot -->
    <div class="col-auto text-center flex-column d-none d-sm-flex">
        <div class="row h-50">
            <div class="col @(IsFirstItem ? string.Empty : "border-right")">&nbsp;</div>
            <div class="col">&nbsp;</div>
        </div>
        <h5 class="m-2">
            <!-- temperature can go here -->
            <span class="badge badge-pill border @(IsFirstItem ? "bg-success" : "bg-light")">&nbsp;</span>
        </h5>
        <div class="row h-50">
            <div class="col @(IsLastItem ? string.Empty : "border-right")">&nbsp;</div>
            <div class="col">&nbsp;</div>
        </div>
    </div>
    <!-- timeline item 1 event content -->
    <div class="col py-2">
        <BSCard CardType="CardType.Card" Class="@(IsFirstItem ? "border-success" : string.Empty)">
            <BSCard CardType="CardType.Body">
                <BSCard HeadingSize="HeadingSize.H4" CardType="CardType.Title" Class="@(IsFirstItem ? "text-success" : "text-muted")">
                    Step @Item.Step
                </BSCard>
                <BSCard CardType="CardType.Text">
                    @Item.Description
                </BSCard>
            </BSCard>
        </BSCard>
    </div>
</BSRow>

@code {
    [Parameter]
    public Details.Query.QueryStep Item { get; set; }

    [Parameter]
    public bool IsLastItem { get; set; }

    [Parameter]
    public bool IsFirstItem { get; set; }
}
